hello {{ user.username }}
<br/><a href="{{ path("hobbies") }}">Edit your Hobbies</a>
<br/><a href="{{ path("discussions") }}">Go to discussions</a>

<br/><a href="{{ path("app_logout") }}">Logout</a>
